In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv("/mnt/data/Users/A-PROOF/Cecilia_S/keyword_matches_notes/all_sents_nodup.csv")

In [3]:
indeces = np.where(pd.isnull(df))[0]
print(indeces)

[  11851   16013   76228   90704   93540  147565  148841  148844  176359
  182609  182846  193056  193060  244570  244574  249836  252097  252100
  265305  302674  302677  316347  339828  363850  366122  375425  375429
  487961  505695  521867  582862  582866  620610  711216  732344  743703
  765382  774258  830662  862009  883909  940828  986915 1001457 1026141
 1034069 1075072 1159227 1216168 1265726 1411065 1439081 1447533 1460607
 1671790 1688452 1696743 1709597 1795880 1878800 1969030 2044990 2068269
 2102629 2146707 2192502 2200646 2256995 2286686 2332405 2333577 2362802
 2374674 2377089 2423531 2430426 2444433 2492244 2514398 2518078 2631618
 2632655 2667779 2670028]

In [4]:
for index in indeces:
    df.at[index, 'text'] = 'NA'

In [5]:
np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

In [6]:
df.groupby('category').count()

            text
category
ADM       343825
ATT       352302
BER       152970
ENR       258436
ETN       343081
FAC       458830
INS       241756
MBW       349546
STM       180231

In [7]:
343825+352302+152970+258436+343081+458830+241756+349546+180231

2680977

In [8]:
len(df)

2680977

In [9]:
[df.iloc[i,j] for i,j in zip(*np.where(pd.isnull(df)))]

[]

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.groupby('category').count()

            text
category
ADM       238237
ATT       248301
BER       116742
ENR       187792
ETN       238289
FAC       306142
INS       171121
MBW       247823
STM       140113

In [12]:
238237+248301+116742+187792+238289+306142+171121+247823+140113

1894560

In [13]:
len(df)

1894560

In [14]:
df = df.sample(frac=1)

In [15]:
df

        category                                               text
954882       MBW          vasculaire Tav longen , multiproblematiek
498176       STM  Redelijke linker ventrikelfunctie in rust ( EF...
859393       ATT  Als er geen vormen geknipt moeten worden dan v...
892728       ATT                             Dit bleef een tijdje .
2649331      BER  Spirometrie : FVC=2,15 L(57,65 % ) , FEV1=1,90...
...          ...                                                ...
103825       ADM                                     12-12-2017 254
1166131      ETN                            Succesvol gedetubeerd .
1108524      ENR  Tractus respiratorius : Geen hoesten , geen he...
1553035      ATT  Maligne hypertensie wv s/n Labetalol iv op iC ...
899817       MBW                  StreefMAP verlaagd naar 100mmHg .

[1894560 rows x 2 columns]

In [16]:
adm = []
att = []
ber = []
enr = []
etn = []
fac = []
ins = []
mbw = []
stm = []

for ri, row in df.iterrows():
    if len(adm) < 45000 and row['category'] == 'ADM' and len(row['text']) >= 50 and row['text'] not in adm:
        adm.append(row['text'])
    elif len(att) < 45000 and row['category'] == 'ATT' and len(row['text']) >= 50 and row['text'] not in att:
        att.append(row['text'])
    elif len(ber) < 45000 and row['category'] == 'BER' and len(row['text']) >= 50 and row['text'] not in ber:
        ber.append(row['text'])
    elif len(enr) < 45000 and row['category'] == 'ENR' and len(row['text']) >= 50 and row['text'] not in enr:
        enr.append(row['text'])
    elif len(etn) < 45000 and row['category'] == 'ETN' and len(row['text']) >= 50 and row['text'] not in etn:
        etn.append(row['text'])
    elif len(fac) < 45000 and row['category'] == 'FAC' and len(row['text']) >= 50 and row['text'] not in fac:
        fac.append(row['text'])
    elif len(ins) < 45000 and row['category'] == 'INS' and len(row['text']) >= 50 and row['text'] not in ins:
        ins.append(row['text'])
    elif len(mbw) < 45000 and row['category'] == 'MBW' and len(row['text']) >= 50 and row['text'] not in mbw:
        mbw.append(row['text'])
    elif len(stm) < 45000 and row['category'] == 'STM' and len(row['text']) >= 50 and row['text'] not in stm:
        stm.append(row['text'])

In [17]:
data = adm+att+ber+enr+etn+fac+ins+mbw+stm

In [18]:
4500*9

40500

In [19]:
len(data)

405000

In [20]:
all_sents_small = pd.DataFrame(data, columns=["text"])

In [21]:
all_sents_small.to_csv("/mnt/data/Users/A-PROOF/Cecilia_S/keyword_matches_notes/all_sents_small3.csv", index=False)

In [22]:
print(len(adm))
print(len(att))
print(len(ber))
print(len(enr))
print(len(etn))
print(len(fac))
print(len(ins))
print(len(mbw))
print(len(stm))

45000
45000
45000
45000
45000
45000
45000
45000
45000

In [23]:
28489+32806+16520+23142+28024+40402+21382+31443+19329

241537

In [24]:
for i in adm[:50]:
    print(i)

CAD herplaatst 3)Verhoogde infectieparameters DD community
Volgens partner toen wel wat lastiger te verstaan .
Trachplaatsing , ongecompliceerd Addendum 10-02-2021 18:35 N..
In uw familie komt de erfelijke hartziekte brugadasyndroom voor die in belangrijke mate wordt veroorzaakt door de c.3956G > T p.(Gly1319Val ) ( klasse 5 ) mutatie in het SCN5A
T2N1 mondbodemcarcinoom essentiële hypertensie diabetes
Patiënt ging akkoord met inductie behandeling met capecitabine , oxaliplatin ( CAPX ) en bevacizumab .
acute tubulusnecrose bij een bloeding/passagere hypotensie bij abruptio placentae of trombotische microangiopathie .
Indien geen crepitaties meer , dan furosemide iv omzetten naar Bumetanide 3 mg + 2 mg oraal .
supervisor ergometrie : pijnklachten tijdens inspanning afzakkend in rust .
Moeder spoelt de wond minimaal 2x per dag , wat voor Zoë als erg intensief wordt beschouwd .
2017 oktober wegraking , geen aanwijzingen voor cardiale syncope
1dd1 Prednisolon 1dd5 mg Allopurinol 1dd100 mg Seretide
In overleg met de hematologie volgt nog een plan tav de antistolling bij een gecombineerd probleem van enerzijds trombopenie en anderzijds een trombus in de vena brachialis rechts na PICC-lijn insitu .
S. Eberl , Anesthesioloog Geprikt door : A. Cappon , Arts-assistent Anesthesiologie - pijngeneeskunde Afdeling : K ( An )
P. Kloen , rthopedisch chirurg H. Weel , Arts-assistent rthopedie Verrichting ( en ):
Beleid - ip oproepen bij uitslag WES ( tenzij normaal )
NEU - neuro wil pte als zij niet meer op ic hoeft te liggen graag overnemen voor observatie van de myasthenie en analsye van de myelopathie , ze is al aangemeld voor de verpleegafdeling , interne is hiervan op de hoogte
Reactie op rituximab ( tachypneu , dyspneu en tachycardie ) .
Voor zover bekend geen allergieën Tabaksgebruik Rookstatus Nooit gerookt Verslavende middelen en seksuele activiteit Alcoholgebruik
Via huisarts epipen gekregen maar nog nooit gebruikt .
Methylprednisolon : 30 mg/kg in 2 uur i.v. , gedurende 3 dagen 2 .
Neurologicus : tintelingen in de tenen , knieën , vingers
Lichamelijk onderzoek : Niet ziek , alert , blafhoest , geen stridor
prikken komende 2w - CP over 2w : dan medicatie verder verhogen of start Lantus 10 EH + consult
Anti-ENA ctd is negatief HIV negatief Mycoplasma serologie negatief
Moeder geeft aan dat Wail minder eetlust heeft en is afgevallen ( 3,5 kg ) na het ontslag in dec.
Hierbij nog altijd wisselend een tachydyspneu met AH tot 100/min .
Tijdens scopie werd een milde congenitale subglottische stenose graad 1 , laryngeale cleft graad 1 , en milde malacie van de linker hoofdbronchus gezien
Algemene voorgeschiedenis : Familiaire hypercholesterolemie .
In het verleden heeft pte bijwerkingen gekregen op cisordinol , risperdal en aripiprzol .
( het ECG is fors veranderd t.o.v. ECG juli 2020 ) .
Conclusie 10 jarige jongen met status na volledige darmresectie bij GUCY2C mutatie en sinds vroege leeftijd volledige TPV afhankelijkheid presenteert zich nu met een acuut ontstaan neurologisch beeld waarbij een stoornis in spraak op de voorgrond staat in combinatie met een gevoelsstoornis in rechter arm/been .
Triglyceriden hoog 22 mmol/l ( zie mail dr Huidekoper hieronder ) .
geen oedeem , PICC lijn niet rood oogt rustig , klein zwart korstje .
Mw zegt de snelle hartslag wel te voelen , maar verder geen klachten van duizelingen , PB of dyspnoe .
lokaal lijkt rood rondom pleister , sensibilitiet stoornis
Bij een amenorrhoeduur van 38w1d werd op 29-11-2017 om 12:24 uur middels een vaginaal , spontane bevalling in achterhoofd-voorligging een meisje geboren met een gewicht van 2515 gram ( P5 ) .
Mesangioproliferatieve glomerulonefritis ( MPGN ) met dominante afzetting van complement C3
In het AMC hebben wij inmiddels ruim 1000 patienten met vergelijkbare klachten gezien en doen uitgebreid ( klinisch ) wetenschappelijk onderzoek naar oorzaken en behandelmogelijkheden van misofonie .
CVID-19 positief ( 13-9 ) met milde klachten , niet zuurstof behoeftig .
Ruim 5 jaar geleden gestaakt ( ged 50 jaar , max 10 sig per dag , ruim 20 pakjaren ) .
Meerdere morfologieen AT induceerbaar B/ - Retour poli over 4-6 weken bij Dr. Jansen , Spaarne Gasthuis - Retour poli over 12 weken bij Dr. Krul .
Kan niet goed vertellen wanneer de klachten zijn begonnen .
Vermoeidheid : ja niet held dag maar meestal na school aan einde dag .
Nu nog niet maar wel indien de bloedingen zich herhalen .
Abd Spaarzame peristaltiek , wisselende tympanie , soepel niet drukpijnlijk .
mmol/L , Leukocyten 9,4 x 10E9/L , Leukocytendifferentiatie BEP , Neutrofielen
Gedurende de opname werd Hb frequent gecontroleerd , welke een daling van 7.5mmol/L tot 4.5mmol/L liet zien .
Behandelaanwijzing : Volledig beleid Infectie/isolatie
perifere oedemen + dyspnoe 4 ) multipele geneesmiddelen reacties/interacties